.header {
    height: 100px;
    margin: 0 0 70px;
    padding: 0 50px 0 55px;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.31);
    background-image: linear-gradient(to bottom, #4368cd, #7455f6);
}

#ghost-logo {
    width: 107px;
}

#header-logo {
    width: 236px;
    height: 50px;
    position: absolute;
    left: 82px;
    margin-top: 30px;
}

.header-investor-data {
    height: 100px;
    display: inline-flex;
    align-items: center;
    gap: 75px;
    position: absolute;
    right: 30%;
}

.header-investor-data span {
    display: block;
    color: #fcfcfc;
}

.connect-btn{
    position: relative;
    float: right;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    padding: 13px 20px 12px 19px;
    border-radius: 38px;
    background-color: #fcfcfc;
    border: solid 1px #7e77dd;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.connect-btn span {
    font-weight: 600;
    color: #564dd0;
}

.connect-btn img {
    width: 25px;
}

.connect-btn .connect-btn-icon {
    width: 17px;
    height: 10px;
    margin-left: 15px;
    object-fit: contain;
}

.header-wrong-network-rounded-box {
    width: 125px;
    height: 45px;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 220px;
    top: 55px;
    transform: translateY(-50%);
    background-color: #fe6971;
    border-radius: 38px;
}

.header-wrong-network-rounded-box p {
    width: 50px;
    font-size: 8px;
    font-weight: 600;
    color: #fcfcfc;
}

.header-wrong-network-modal {
    width: 300px;
    height: 115px;
    padding-left: 25px;
    margin-right: 50px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #fe6971;
    border-top: none;
    background-color: #fcfcfc;
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    animation: dropdown-ani 0.8s ease-in-out forwards;
}

.header-wrong-network-modal-btn {
    width: 135px;
    height: 25px;
    margin: 0;
    margin-top: 12px;
    border-radius: 4px;
    font-size: 8px;
    font-weight: 500;
}

.header-dropdown-menu {
    width: 200px;
    margin-right: 50px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #fcfcfc;

    position: absolute;
    top: 100px;
    right: 0;

    opacity: 0;
    animation: dropdown-ani 0.4s ease-in-out forwards;
}

@keyframes dropdown-ani {
    to {
        opacity: 1;
    }
}

.header-dropdown-menu div {
    height: 75px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-dropdown-menu div:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.header-dropdown-menu span, .header-dropdown-menu p {
    font-weight: 500;
    color: #b3b3b3;
}

.header-dropdown-menu div:first-child span {
    font-size: 16px;
    font-weight: 600;
    color: #564dd0;
}

.header-dropdown-menu-btn {
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: #f94c56;
    justify-content: center;
}
